

/* Start:/bitrix/templates/wide_green/blog.css?15011619228722*/
div.blog-post { margin: 0 0 2em 0; padding: 0 0 2em 0; border-bottom: 1px solid; }

div.blog-clear-float { clear: both;}

div.blog-post-content  
{
	padding:0;
	margin: 0.25em 0 1em 0; 
	clear: both; 
	line-height:inherit;
	border: none;
	border: 0;
	overflow:visible;
	line-height: inherit;
}
div.blog-comment-line { height:0 }
div.blog-post-content p { margin: 0.65em 0;}
div.blog-post-info { margin-bottom: 0.65em;}

div.blog-post-avatar { display: none;}

div.blog-post-info-back { margin:0; padding:0; background:0;}

div.blog-post-info { overflow: hidden; margin: 0; padding:0;  height: auto;}
div.blog-author { float:left; margin: 0 8px 0 0;}
div.blog-post-date 
{ 
	float: left; 
	display:block; 
	line-height: inherit; 
	margin:0; 
	padding:0;
}

div.blog-post-meta 
{ 
	overflow: hidden; 
	font-size: 0.85em;
	padding:0;
	margin:0;
	line-height:normal;
	zoom:1;
}
div.blog-post-meta span { padding: 0; }
div.blog-post-meta span.blog-post-comments-link, 
div.blog-post-meta span.blog-post-rss-link, 
div.blog-post-meta span.blog-post-views-link, 
div.blog-post-meta span.blog-post-edit-link, 
div.blog-post-meta span.blog-post-delete-link { padding: 0 0 0 1em;}
div.blog-post-meta span.blog-post-link-counter { padding: 0 0 0 0.3em; }

div.blog-post-info-top { display: block;}
div.blog-post-info-top div.blog-author {display: none;}
div.blog-post-info-bottom { width: 45%; float:left; white-space: nowrap; display: inline;}
div.blog-post-info-bottom {display:none;}

div.blog-post-meta-util { float: right; width: 40%; text-align: right; display: inline;}
div.blog-post-meta-util a { text-decoration: none;}
div.blog-post-meta-util span { display: inline; height:auto; padding: 0 0 0 0em;}
div.blog-post-meta-util a:hover { text-decoration: underline;}

div.blog-post-tag 
{
	margin: 0; 
	padding: 0; 
	width: 54%; 
	float:left;
}
div.blog-post-tag a { text-decoration: none; text-transform: lowercase; }
div.blog-post-tag a:hover { text-decoration: underline; }

div.blog-post-voting { float:left; padding-top:8px; padding-bottom: 1px; position:static; top:auto; left:auto; }

h2.blog-post-title { font-size: 2em; margin:0 0 0.25em; padding:0; font-weight: normal; line-height: normal;}
h2.blog-post-title a { text-decoration: underline !important; }
div.blog-posts div.blog-post h2.blog-post-title { display: block;}


div.blog-page-navigation a { border: none;}
div.blog-sidebar { display: none;}

/*Forms*/
div.blog-edit-field { margin: 0.462em 0 0; }
div.blog-edit-form-title { display: none; }
div.blog-edit-field-title input, div.blog-edit-field-post-date input, div.blog-edit-field-slug input,
div.blog-edit-field-tags input, div.blog-edit-field-text textarea,	
div.blog-edit-field-desc textarea, div.blog-edit-field-syndication-rss-feed-url input,
div.blog-comment-field-user input, div.blog-comment-field-content textarea, div.blog-comment-field-captcha input
{ font-size:1.3em;  border: 1px solid; font-family:Arial, Helvetica, Verdana, Tahoma, Sans-Serif;}

div.blog-edit-buttons {text-align: center; margin: 2em 0; padding: 2em 0; border-top:1px solid;}
div.blog-edit-buttons input { font-size:1.2em; }

div.blog-edit-fields { padding:0; margin:0 0 0 2.5em;}
div.blog-edit-fields label.blog-edit-field-caption { display:block; margin:0.5em 0;}


div.blog-edit-field-title label, div.blog-edit-field-desc label, label.blog-edit-field-caption,
div.blog-comment-field-user label, div.blog-comment-field-captcha label
{
	font-family:Arial,Verdana,Tahoma,Sans-Serif;
	font-size:1.42em;
	margin-bottom:0.5em;
	white-space:nowrap;	
}

div.blog-comment-field-user input, div.blog-comment-field-content textarea, div.blog-comment-field-captcha input { font-size: 1.5em;}

div.blog-comment-field-captcha-label { margin-top: 1em;}

div.blog-comment-form 
{
	line-height: inherit;
	margin: 0;
	padding: 0;
}

div.blog-comment-info
{
	background: none;
	height: auto;
	padding:0;
	margin: 0.6em 0 0 0;
	overflow:hidden;
	position: relative;
	zoom:1;
	font-size: 0.95em;
	line-height: normal;
}

div.blog-comment-content 
{
	display:block;
	overflow:hidden;
	padding:0;
	margin: 0.5em 0;
	clear: both;
}

div.blog-comment
{
	border: none;
	background: none;
	margin:  0 0 0.6em;	
	padding: 0;
	overflow: hidden;
}

div.blog-comment-cont
{
	margin:0;
	padding:0 0 1em 0;
	border: none;
	background: none;
	border-bottom:1px solid;
}

div.blog-comment-form-box { line-height: normal; margin:0 0 0.6em; }

span.blog-vert-separator { display: none;}
div.blog-add-comment { font-size: 1em; margin: 0 0 1em; padding: 0;}
div.blog-add-comment-top { border-bottom: 1px solid; padding:0 0 2em 0;}
div.blog-add-comment-bottom { margin: 0.6em 0 1em; padding:2em 0 0;}

div.blog-comment-info div.blog-author
{
	display:block;
	font-weight:bold;
	margin:0;
	padding:0;
	float: none;
}

div.blog-comment-info div.blog-author .blog-author-icon { display: none;}

div.blog-comment-date
{
	display:block;
	line-height:inherit;
	margin:0.5em 0 0;
	padding:0;
}

div.blog-comment-author-ip
{
	display:block;
	padding:0;
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
}

div.blog-comment-voting { position:absolute; top: 17px; right:0; float:none;}

div.blog-comment-author-ip a { font-size: 0.9em; text-decoration: none;}
div.blog-comment-avatar  {display: none;}
div.blog-comment-register-avatar, div.blog-comment-guest-avatar {display: none;}
div.blog-comment-content div.blog-comment-avatar { display: none; }

div.blog-comment-meta
{
	font-size: inherit;
	line-height: inherit;
	margin:0;
	padding:0;
}

div.blog-comment-meta a { text-decoration: none !important; font-size: 0.87em; }
div.blog-comment-meta span { padding: 0 1em 0 0; margin: 0;}

div.blog-comment-preview {border:none;}
div.blog-comment-preview div.blog-comment-cont { border: 1px dashed;}


div.blog-list-item 
{
	margin: 0 0 1em 0; 
	border: none;
	border-bottom: 1px dashed; 
	padding: 0 0 1em 0;
	clear: both;
	overflow: hidden;
	position: relative;
}

div.blog-list-item div.blog-author { float:none; margin: 0 0 0 65px; display: block;}
div.blog-list-item div.blog-list-title { margin: 0.5em 0 0 65px; display: block;}
div.blog-list-item div.blog-list-content { margin: 0.5em 0 0 65px; display: block;}

div.blog-list-item .blog-author-icon { display: none;}
div.blog-list-item div.blog-author a { font-size: 1em; font-weight: bold;}
div.blog-list-title a { font-size: 1.5em; font-weight: normal; text-decoration: none;}
div.blog-list-item div.blog-clear-float { display: none; clear:none;}
div.blog-register-date { position: absolute; top:0; right: 0; font-size:0.85em; text-transform: lowercase;}

/* Errors and Notes */
div.blog-note-box
{
	border: 1px solid;
	margin:0 0 1.5em 0;
	padding:0.4em 1.117em;
}

div.blog-note-box ul{padding:0.3em 0 0.3em 2em; margin:0;}
div.blog-note-box  ul li {margin:0; padding:0;}

/*Quote*/
table.blog-quote { font-size:1em; margin:0.5em 0 1em; width:80%;}
table.blog-quote table.blog-quote { width: 80%; margin: 0.5em 0 0;}
table.blog-quote th {font-weight:normal; padding: 0 1em; text-align:left;}
table.blog-quote td { padding:0.9em 1em; border: 1px dashed; }

table.blog-quote td  {}
table.blog-quote th {}

/* Code box*/
div.blog-code-box  
{
	border: 1px dashed; 
	margin:0.5em 0;
	padding:0 !important;
}

div.blog-code-box pre 
{
	font-family:"Consolas","Monaco","Courier New",Courier;
	font-size:1em;
	font-weight:normal;
	line-height:1.3em;
	margin:0;
	overflow:auto;
	padding:0.5em !important;
	width:auto !important;
}

/*******************/
div.blog-posts {width: 100%;}
div.blog-post-edit-form {width: 95%;}
div.blog-edit-fields {margin:0;}
div.blog-post-edit-form, div.blog-comment-fields {background-color:#FFF;}
div.blog-post-meta span.blog-post-comments-link, 
div.blog-post-meta span.blog-post-views-link, 
div.blog-post-meta span.blog-post-edit-link, 
div.blog-post-meta span.blog-post-hide-link, 
div.blog-post-meta span.blog-post-show-link, 
div.blog-post-meta span.blog-post-publish-link, 
div.blog-post-meta span.blog-post-delete-link { background:none;}
h2.blog-post-title {background-color:transparent; border:none;}
div.blog-post-date {background-color:transparent;}

div.blog-post-current h2.blog-post-title {display:none;}
div.blog-post-current div.blog-post-info-top {position: relative; display:none;}
div.blog-post-current div.blog-post-info {background: none;}
div.blog-post div.blog-post-info {background: transparent;}
div.blog-post-current div.blog-post {background-image:none;}

/* End */


/* Start:/bitrix/templates/wide_green/common.css?15011619223302*/
﻿/* Round Corners*/
.r0, .r1, .r2, .r3, .r4 { overflow: hidden; font-size:1px; display: block; height: 1px;}
.r4 { margin: 0 4px; }
.r3 { margin: 0 3px; }
.r2 { margin: 0 2px; }
.r1 { margin: 0 1px; }

/* Tags cloud */
div.search-cloud { text-align:center; } 
div.search-cloud a { line-height:1.4em; text-decoration:none; }
div.search-cloud a:hover { text-decoration:underline; }

/* Search results*/
div.search-advanced { overflow: hidden; margin: 0.5em 0; zoom:1;}
div.search-advanced-result { float: left; width:70%;}
div.search-advanced-filter { float: right; }
div.search-advanced-filter a { outline: none;}

div.search-item { margin: 0 0 1.5em; padding: 0 0 1.5em; border-bottom: 1px solid;}
div.search-result { margin: 0;}
div.search-preview {margin: 0.5em 0;}

div.search-item-meta { margin: 1em 0 0 0; overflow: hidden; zoom: 1;}
div.search-item-tags { float: left; }
div.search-item-date { float: right;}

div.search-page input.search-query {width: 99%; border: 1px solid; font-size:1.3em;}
div.search-page input.search-button { font-size: 1.2em; }

div.search-filter h2 { margin:1em 0 0.5em; }
table.search-filter { width: 100%;  margin-top: 0.5em;}
table.search-filter td { padding: 1em; border-top: 1px solid;}
td.search-filter-name { width: 10%; text-align: right;}
td.search-filter-field { width: 50%;}

table.search-filter input.input-field { border: 1px solid; font-size:1.3em; }
table.search-filter select.select-field {border: 1px solid; font-size:1.2em; } 

div.search-sorting { margin: 0.5em 0;}
div.search-sorting b { padding: 0.2em 0.3em 0.3em ; font-weight: normal;}

/* Content Forms: commons styles */
div.content-form
{
	position:relative; 
	zoom:1;
	padding-bottom: 2.5em;
	padding-left:2.5em;
}

div.content-form div.form-input span {font-size: 1.5em;}
div.content-form div.form-input input, div.content-form div.form-input textarea, div.content-form div.form-input select
{	
	margin: 0;
	border:1px solid;
	font-size:1.117em; 
	font-family:Verdana, Tahoma, Sans-Serif;
	margin-bottom: 8px;
	
}

div.content-form div.form-input input, div.content-form div.form-input textarea { padding: 0.3em; }

div.content-form div.legend
{
	left: -1em; 
	top:-0.7em; 
	float:left; 
	padding: 0 3px; 
	background:white; 
	position:relative; 
	z-index:10; 
	font-size: 1.8em; 
	font-family:Arial, Verdana, Tahoma, Sans-Serif;
}

div.content-form div.form-input input, div.content-form div.form-input textarea {width:75%;}
div.content-form div.fields { clear: both; }
div.content-form input.input-submit { overflow:visible; padding:0 0.5em;}
div.content-form div.field { padding:0; margin: 0 0 0.8em 0; display: block; }
div.content-form div.field label.field-title
{
	display: block;
	font-size: 1.4em;
	margin-bottom: 3px;
	font-family:Arial, Verdana, Tahoma, Sans-Serif; 
	white-space: nowrap;
}

div.content-form div.description {font-size: 0.9em; }
div.content-form div.field-checkbox { margin: 0.3em 0; font-size: 1.4em;}

/*Error & OK messages*/
.errortext, .notetext
{
	display: block;
	margin:0 0 1.5em 0;
	padding:0.4em 1.117em;
	border: 1px solid;
}

.errortext ul, .notetext ul {padding:0.3em 0 0.3em 2em; margin:0;}
.errortext ul li, .notetext ul li {margin:0; padding:0;}
/* End */


/* Start:/bitrix/templates/wide_green/styles.css?1501161922633*/
img {border:0 none;}

h1, h2, h3, h4, h5, h6
{
	font-family:Arial,serif; 
	margin:1.3em 0 0.2em;
	font-weight:normal;
	line-height:1.2;
}

h1 { font-size:200%; margin:0 0 0.7em; }
h2 { font-size:180%; }
h3 { font-size:160%; }
h4 { font-size:140%; }
h5 { font-size:120%; }
h6 { font-size:100%; }

hr, .hr 
{
	border-top:1px solid;
	display:block;
	font-size:1px;
	height:1px;
	line-height:1px;
	margin:12px 0;
	overflow:hidden;
	padding:0;
}

#work-area ol li, #work-area ul li { margin: 0.6em 0;}
#workarea .photo-page-detail-list li{ margin:0;}
.blog-comment-content, .blog-comment-cont {height:auto;}
/* End */


/* Start:/bitrix/templates/wide_green/template_styles.css?15011619226916*/
html { width:100%; height: 100%; }

body
{
	height: 100%;
	margin:0;
	padding:0;
	font-size: 80.01%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

form { margin:0; padding:0;}
form.main-form
{ 
	display: block;
	margin:0; 
	padding:0;
	width:100%;
	height: 100%;
	min-width: 970px;
}


#header
{
	height: 156px;
	position: relative;
}

.top-menu
{
	position:absolute;
	left: 10%;
	height: 55px;
}
#top-menu
{
	margin: 0;
	padding: 0;
	list-style: none;
	height: 55px;
	overflow: hidden;
}

#top-menu li
{
	float: left;
	margin-right: 4px;

}

/* General Item */
#top-menu a
{
	display: inline-block;
	text-decoration: none;
	height: 51px;
	outline: none;
}

#top-menu span
{
	display: inline-block;
	line-height: 46px;
	font-size: 1.6em;
	font-family: Arial, Helvetica, sans-serif;
	margin-right: 36px;
	padding-left: 34px;
	height: 51px;
	cursor: pointer;
	cursor: hand;	
}

/* Hover Item */
#top-menu a:hover
{
	height: 52px;
}

#top-menu a:hover span
{
	height: 52px;
}

/* Selected Item */
#top-menu li.selected a
{
	height: 54px;
}

#top-menu li.selected span
{
	height: 54px;
	line-height:50px;
}


#site-name
{
	position: absolute;
	left: 10%;
	top: 77px;
}

#site-name a, #site-name a:hover {text-decoration: none; font-size:1.4em;}

#search-layer
{
	height: 40px;
	position: relative;
}

/* Search */
#search { position: absolute; left: 70%; width:20%; margin-top: 9px; }
#search-textbox
{ 
	margin-right: 61px;
	height: 22px;
	background: url(/bitrix/templates/wide_green/images/search-textbox.gif) no-repeat right top;
}

#search-textbox span
{
	display: block;
	height: 22px;
	margin-right: 2px;
	padding-left: 26px;
	background: url(/bitrix/templates/wide_green/images/search-textbox.gif) no-repeat left top;
}

#search-textbox input 
{
	border:0 none;
	height:18px;
	margin:2px 0 2px 0;
	padding:0;
	width:95%;
}
								 
#search input { vertical-align: top;}
#search-button { float: right; }							 

#search-button input 
{
	display: block;
	border:none;
	width:50px;
	padding:0;
	margin:0;
	font-family: Georgia, serif;
	font-size: 12px;
	height: 22px;
	cursor: pointer;
	cursor: hand;
	outline: none;	
}

#search-button input::-moz-focus-inner /*Remove button padding in FF*/
{ 
    border: 0;
    padding: 0;
}

#rss-link
{
	display: block;
	height: 40px;
	position: absolute; 
	left: 10%;
	font-size: 1em;	
	line-height: 40px;
	padding-left: 24px;
	text-decoration: none;
	background: url(/bitrix/templates/wide_green/images/rss.gif) no-repeat left center; 
}

#rss-link:hover
{
	text-decoration: underline;
}

#content-wrapper
{
	padding-top: 52px;
}

#content
{
	width: 80%;
	margin: 0 auto 4em;
	overflow: hidden;
}

#work-area
{
	float: left;
	width: 71%;
	overflow:hidden;
	position:relative; /* IE hack */
}

#sidebar
{
	float: right;
	width: 25%;	
	overflow:hidden;
}

#user-menu-wrapper { margin-bottom: 2em;}
#user-menu-wrapper b { border-width:1px; border-style:solid; border-top: none; border-bottom: none;}
#user-menu-wrapper .r1 { border: none; }
#user-menu
{
	margin:0;
	padding: 0 10px 0;
	list-style: none;
	overflow: hidden;
}

#user-menu li
{
	display: block;
	padding: 0;
	border-bottom: 1px solid;
}

#user-menu li.last-item { border: none;}

#user-menu a
{
	
	text-decoration: none;
	font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 0.7em 0 0.7em 20px;
	font-weight:bold;
	outline: none;
	display: block;
}

#footer
{
	height: 134px;
	border-top: 1px solid;
	position: relative;
	background: transparent url(/bitrix/templates/wide_green/images/footer-bg.gif) repeat-x;
}

#pencil
{
	position: absolute;
	top: -18px;
	left: 10%;
	width: 47px;
	height: 49px;
}

#contact-links
{
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 60px;
	left: 10%;
}

#contact-links li 
{
	display:inline;
	padding-right:1.5em;
}

#copyright
{
	position: absolute;
	top: 24px;
	left: 10%;
	top: 39px;
}

#jump-to-top
{
	position:absolute;
	top: 39px;
	left: 70%;
}

#jump-to-top a
{
	display: block;
	padding: 0.3em 1.5em 0.3em 2.5em;	
	font-size: 1em;
	outline: none;	
}

#jump-to-top a:hover { text-decoration: none; }

#footer-design { color:#9F9F9F; font-size:11px; width:300px; position:absolute; left: 10%; top: 105px;  text-align: left;}
#footer-design a{color:#9F9F9F; text-decoration:none;}
#footer-design a:hover{text-decoration:underline;}

/* Photogallery */
div.photo-page-main div#photo-main-page-right {width:250px  !important;height:470px !important;}

/*Sidebars*/
div.sidebar-box { margin-bottom: 2em;}
div.sidebar-box-header {
	height: 41px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
	line-height:41px;
	padding: 0 0 0 1em;
}

div.sidebar-box-content { padding: 1em;	}
div.sidebar-box b { border-width:1px; border-style:solid; border-top: none; border-bottom: none;}
div.sidebar-box .r1 { border: none; }


/* Navigation */
div.navigation { font-size:100%; line-height:200%; }
div.navigation-arrows { margin-bottom: 0.6em;}
div.navigation-arrows a
{
	font-size: 120%;
	text-decoration: underline;
	padding: 0.5em 0.7em;
}
div.navigation-pages a  
{
	text-decoration:none; 
	padding:0.217em 0.517em; 
	border-width: 1px;
	border-style: solid;
}
span.nav-current-page  
{
	padding:0.217em 0.517em; 
	border-width: 1px;
	border-style: solid;
}

span.navigation-title { padding-right: 1em; font-weight: bold;}
div.navigation span.arrow { font-size:115%; font-family:Times, serif; }
div.navigation span.ctrl { font-size:100%; }

/* Content Block List */
dl.block-list { margin: 0; padding:0; font-size: 0.85em;}
dl.block-list dt { margin: 0}
dl.block-list dd { margin:0 0 1em; padding:0;}

/* Blog Post Date*/
div.blog-post
{
	position: relative;
	background-repeat: no-repeat;
	background-position: 0 14px;
	zoom:1;
}

h2.blog-post-title
{ 
	padding-left: 40px;
	background-repeat: no-repeat;
	background-position:0 5px;
	background-color:transparent;
	margin-bottom: 1em;	
}

div.blog-post-date
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:9px;
	left:0;
	position:absolute;
	text-align:center;
	top:33px;
	width:25px;
	float:none;
	display: block;
}
span.blog-post-day { display: none;}
div.blog-post-meta-util {width: 40%;}
div.blog-post-info span.blog-post-date-formated {display:none;}
div.blog-post-info span.blog-post-time {display:block;}

/*div.photo-page-main div.photo-controls-buttons {display:none;}*/
#work-area div.photo-page-section ol li, #work-area div.photo-page-section ul li, #work-area div.photo-page-detail-list ul li {margin:0.1em 0;}

div.blog-post-edit-form div.blog-smiles-line {display:none;}
div.blog-post-edit-form div.blog-bbcode-line {margin-right:0;}
/* End */
/* /bitrix/templates/wide_green/blog.css?15011619228722 */
/* /bitrix/templates/wide_green/common.css?15011619223302 */
/* /bitrix/templates/wide_green/styles.css?1501161922633 */
/* /bitrix/templates/wide_green/template_styles.css?15011619226916 */
