

/* Start:/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/style.css?15011619227261*/
div.photo-page-gallery, div.photo-header-big, div.photo-filter{ border-color: #ECECEC; }
div.photo-photo-date, div.photo-photo-tags, div.photo-photo-tags a, div.photo-album-date { color: #7E7E7E;}
li.photo-album-item div.photo-album-photos {color: #000000;}

/************** Menu Controls **************************************/
/*
div.photo-controls-buttons ul.photo-controls li a, 
div.photo-controls-buttons ul.photo-controls li a span { background-image: url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/buttons/button.gif');}
div.photo-controls-buttons ul.photo-controls li a { color: #616161;}
div.photo-controls-moderate ul.photo-controls li a{ color: #BC262C; }
div.photo-controls-gallery ul.photo-controls li a,
div.photo-controls-gallery ul.photo-controls li a span,
div.photo-controls-album ul.photo-controls li a, 
div.photo-controls-album ul.photo-controls li a span { background-image: url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/buttons/button_slim.gif');}
div.photo-controls-album ul.photo-controls li.photo-control-album-edit a span { background-image: url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/buttons/button_slim_arrow.gif')!important;}

td.gutter div.photo-control-album-edit{background-image: url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/icons/alb_edit.png');}
td.gutter div.photo-control-album-edit-icon{background-image: url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/icons/alb_edit_icon.png')!important;}
td.gutter div.photo-control-album-edit-sort{background-image: url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/icons/alb_edit.png');}
td.gutter div.photo-control-album-drop{background-image: url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/icons/alb_drop.png');}
*/
/************** Menu Controls/**************************************/

li.photo-control-photo-selectall span, li.photo-control-photo-drop span, 
li.photo-control-photo-moderate span, 
div.photo-album-menu-controls a:hover, 
div.photo-album-menu-controls a:active, 
div.modern-page-navigation a, 
span.modern-page-current, 
div.modern-page-navigation a.modern-page-previous, 
span.modern-page-dots { 
	border-color: #CDCDCD; }


/************** Standart *******************************************/
div.photo-note-box {
	background: #fffdc3; 
	border-color: #ffca63;}
font.starrequired{
	color:red;}
 /************** Standart/*******************************************/
/******************************************************************** 
				Album
********************************************************************/
/*div.photo-album-avatar, div.photo-album-thumbs-avatar, */div.photo-album-avatar-empty{background-color: #E2E2E2;}
div.photo-album-avatar-empty { background-image: url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/album/cover_empty.gif');}
div.photo-item-cover-block-container, 
div.photo-item-cover-block-outer, 
div.photo-item-cover-block-inner { border-color: #B0B0B0; }
/************** Album controls on cover ****************************/
div.photo-album-menu-substrate {
	background-position: -20px top;
	background-repeat: no-repeat; 
	background-image: url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/album/cover_white_mat.png');}
div.photo-album-menu-controls span {
	display: none; }
div.photo-album-menu-controls a:link, 
div.photo-album-menu-controls a:visited, 
div.photo-album-menu-controls a:active, 
div.photo-album-menu-controls a:hover {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center;
	line-height: 1em;
	float: left;
	display: block;
	border: 1px solid #FFFFFF;}
div.photo-album-menu-controls a:hover, div.photo-album-menu-controls a:active { 
	border: 1px solid #B0B0B0;}
div.photo-album-menu-controls a.photo-control-album-edit {background-image:url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/icons/alb_edit.png');}
div.photo-album-menu-controls a.photo-control-album-edit-icon {background-image:url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/icons/alb_edit_icon.png');}
div.photo-album-menu-controls a.photo-control-album-drop {background-image:url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/icons/alb_drop.png');}

/************** Album Single ***************************************/
div.photo-album-password div.photo-album-name, li.photo-album-password div.photo-album-name {
	padding-left:15px;
	background-image:url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/album/lock.gif');
	background-repeat:no-repeat;
	background-position:left center;}
li.photo-album-password div.photo-album-name{
	background-position:left 15%; }
/******************************************************************** 
				/ Album
********************************************************************/

/******************************************************************** 
				Photo 
********************************************************************/
table.photo-photo-item-notapproved div.photo-photo-item-inner, 
table.photo-photo-item-notapproved div.photo-photo-item-outline, 
div.photo-photo-item-notapproved { background-color:#FED2D2!important;}
table.photo-photo-item-checked div.photo-photo-item-inner, 
div.photo-photo-item-checked{ background-color:#E0DFE3!important;}
/************** Photo Table Shadow *********************************/
table.photo-photo-item-table, table.photo-photo-item-table div.photo-photo-item-block-inner{
	border-color: #BBBBBB;}
table.photo-photo-item-table th, table.photo-photo-item-table td{
	background-color: #F6F6F6;}
table.photo-photo-item-table table.photo-photo-image td {
	background-color: #FFFFFF!important;}
table.photo-photo-item-table div.photo-photo-item-block-outer{
	padding-bottom: 6px;
	background-image: url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/photo/shadow.gif');
	background-repeat: no-repeat;
	background-position: right bottom;}
table.photo-photo-item-table div.photo-photo-item-block-container{
	background-image: url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/photo/shadow.gif');
	background-repeat: no-repeat;
	background-position: left bottom;}
/************** Popup div To Detail to around Slider ***************/
div.photo-photo-item-popup {background-image:url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/photo/arrow.gif');}
/************** Photo navigation on detail page ********************/
#photo_go_to_prev span, #photo_go_to_next span {display:none;}
#photo_go_to_prev, #photo_go_to_next {
	display: block;
	width: 23px;
	height: 23px;
	background-position: left center;
	background-repeat: no-repeat;}
a#photo_go_to_prev, a#photo_go_to_next { background-image: url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/buttons/arrow.gif'); }
div#photo_go_to_prev, div#photo_go_to_next { background-image: url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/buttons/arrow_disabled.gif'); }
a#photo_go_to_next, div#photo_go_to_next { background-position: right center; }
/************** Photo Voting ***************************************/
div.iblock-vote {
	line-height: 13px;}
div.star-active {
	cursor: pointer; }
div.star-empty, div.star-voted, div.star-over {
	background-image: url('/bitrix/components/bitrix/photogallery/templates/.default/themes/gray/images/vote.gif');
	background-repeat: no-repeat;
	background-position: right center;
	width: 13px;
	height: 13px;
	overflow: hidden;
	float: left;
	margin-right: 1px; }
div.star-voted {
	background-position: center center; }
div.star-over {
	background-position: left center; }
td.vote-result { 
	padding-left: 5px; } 
div.vote-no-results {
	display: none; }
/******************************************************************** 
				Photo 
********************************************************************/
/******************************************************************** 
				Gallery 
********************************************************************/
div.photo-gallery-description {color: #7E7E7E; }
/******************************************************************** 
				/ Gallery 
********************************************************************/

/* End */


/* Start:/bitrix/components/bitrix/photogallery/templates/.default/style.css?150116192231650*/
/********************************************************************
				Menu Controls
********************************************************************/
.photo-top-controls {margin: 0 0 1em 1px;}
.photo-top-controls a {margin: 0 6px 0 0;}

ul.photo-controls, ul.photo-controls li{margin:0; padding:0; border:none; list-style-type:none; overflow:hidden;}
ul.photo-controls li{height:2em; float:left;	padding-right:1em;}

li.photo-control label,
li.photo-control a:link,
li.photo-control a:visited,
li.photo-control a:active,
li.photo-control a:hover{line-height:1.7em;height:1.7em;}
li.photo-control a:hover, li.photo-control a:active, li.photo-control a.pressed{text-decoration: none;}
/************** Controls Buttons ***********************************/
div.photo-controls-buttons ul.photo-controls {height: auto;}
div.photo-controls-buttons ul.photo-controls li{clear: both;float: none; padding-right: 0.45em; height: 20px!important;}
	div.photo-controls-buttons ul.photo-controls li a {display: block; background-repeat: no-repeat; white-space: nowrap; cursor: pointer; cursor: hand; text-decoration: none;}
div.photo-controls-buttons ul.photo-controls li a {width: 11.61em;}

div.photo-controls-buttons ul.photo-controls li a span {padding-right: 10px;background-position: right bottom;}
div.photo-controls-buttons ul.photo-controls li a:hover {background-position: left top;}
div.photo-controls-buttons ul.photo-controls li a:hover span {background-position: right top;}
/************** Menu Controls Album & Gallery Dropdown *************/
li.photo-control-album-edit a {float: left;}
div.photo-controls-gallery ul.photo-controls li,
div.photo-controls-album ul.photo-controls li{float: left;margin-bottom: 2px;}
div.photo-controls-gallery ul.photo-controls li a, div.photo-controls-album ul.photo-controls li a {}
div.photo-controls-gallery ul.photo-controls li a,
div.photo-controls-gallery ul.photo-controls li a span,
div.photo-controls-album ul.photo-controls li a,
div.photo-controls-album ul.photo-controls li.photo-control-album-edit a span {padding-right: 1.2em;}
div.photo-controls-album,div.photo-controls-gallery {float: right;}

/********************************************************************
				Menu Controls /
********************************************************************/

/********************************************************************
				Popups
********************************************************************/
table.photo-dialog-table, table.photo-popup{border: 0; border-collapse: collapse; width: 100%;}
table.photo-dialog-table td, table.photo-popup td{padding: 5px!important; background: transparent!important; vertical-align: top!important;}
table.photo-dialog-table td.photo-dialog-prop-title{text-align: right;}
table.photo-dialog-table td.photo-dialog-prop-param{text-align: left;}
table.photo-dialog-table td.photo-dialog-req label{font-weight: bold!important;}
table.photo-dialog-table textarea{width: 400px; height: 10em;}
table.photo-dialog-table td.photo-inp-width input{width: 400px;}
table.photo-dialog-table td.photo-dialog-warning{color: red!important;}

table.photo-dialog-table td.photo-dialog-prop-param-date{text-align: left;}
table.photo-dialog-table td.photo-dialog-prop-param-date input{display: block; float: left;}
table.photo-dialog-table td.photo-dialog-prop-param-date a{display: inline-block!important;}

div.photo-popup, div.photo-popup div, div.photo-popup form {background-color: white;padding: 0;margin: 0;font-size: 12px;}
div.photo-popup{background-color: gray;overflow: hidden;width: 600px;height: 400px;}

div.photo-popup div.photo-popup-container{
	border: 1px solid black;}
div.photo-popup div.photo-popup-inner{
	padding: 9px;}
div.photo-popup div.photo-popup-data{
	overflow: hidden;
	width: 580px;
	height: 380px;}
div.photo-popup table{
	width: 100%;
	border: none;}
table.photo-popup thead{
	display: none;}
div.photo-popup tbody {
	height: 330px;}
div.photo-popup tbody td {
	border: none;
	text-align: left;
	vertical-align: top;}
div.photo-popup tbody div.photo-info-box-section-edit-icon,
div.photo-popup tbody div.photo-info-box-section-edit,
div.photo-popup tbody div.photo-info-box-element-edit  {
	height: 335px;
	overflow: auto;
	zoom: 1;}
div.photo-popup tfoot td {
	text-align: center;
	vertical-align: middle;
	height: 50px;
	overflow: hidden;}
div.photo-popup tfoot td input {
	margin: 2px;}
div.photo-popup div.photo-edit-field {
	padding: 0.3em 0 0.2em 0.3em;}
div.photo-popup div.photo-edit-field-title input,
div.photo-popup div.photo-edit-field-tags input,
div.photo-popup div.photo-edit-field textarea {
	width: 99%;}
div.photo-popup div.photo-edit-field select {
	width: 50%;}
/********************************************************************
				Popups /
********************************************************************/
/********************************************************************
				Filter
********************************************************************/
/* Used on detail list page with new photo, photo with comments and other */
div.photo-filter{
	margin: 1.5em 0 2.5em 0;
	border: 1px solid;
	padding: 1em;
	width: 70%;}
div.photo-filter-field {
	margin-bottom: 0.7em;}
div.photo-filter-field-inner {
	margin-bottom: 0.4em;}
div.photo-calendar-field label {
	display: block;
	margin-bottom: 0.5em;}
div.photo-filter-buttons {
	margin-right: 0.5em;}
div.photo-filter-field legend {
	padding: 0.5em 1em;}
/********************************************************************
				Filter /
********************************************************************/
/********************************************************************
				Page Navigation
********************************************************************/
div.modern-page-navigation {
	padding: 0.5em 0;}
div.modern-page-navigation a,
span.modern-page-current,
span.modern-page-dots
{
	border-left-width: 1px;
	border-left-style: solid;
	padding-left: 0.75em;
	padding-right: 0.5em;
	text-decoration: none;
}
div.modern-page-navigation a.modern-page-previous {
	border-right-width: 1px;
	border-right-style: solid;
	border-left: none; }
div.modern-page-navigation a.modern-page-first,
div.modern-page-navigation span.modern-page-first {
	border-left: none;
	padding-left: 0.5em; }
span.modern-page-current {
	font-weight: bold; }
/********************************************************************
				Page Navigation /
********************************************************************/

/********************************************************************
				Standart styles
********************************************************************/
ul.photo-items-list, ul.photo-items-list, li.photo-item {
	padding: 0;
	margin: 0;
	list-style-type: none;}
div.photo-info-box {}
div.photo-note-box {
	width: 70%;
	border-width: 1px;
	border-style: solid;
	margin: 1.117em 0;
	padding: 0.4em 1.117em;}
div.photo-note-box ul {
	padding: 0.3em 0.6em;
	list-style-type: none;
	margin: 0;}
div.photo-note-box ul li {
	margin: 0.3em 0;
	padding: 0;}
div.photo-breadcrumb-top{
	margin-bottom: 1.27em;}
div.empty-clear{
	clear: both;
	overflow: hidden;
	height: 0.1em;}
div.photo-popup-inner form, form.photo-form{
	padding: 0;
	margin: 0;}
table.photo-table, table.photo-table td{
	font-size: 100%;}
div#photo_waitwindow{
	width: 170px!important;
	padding: 10px!important;
	display: block!important;
	border: 1px solid #EACB6B!important;
	text-align: center!important;
	font-size: 13px!important;
	background-color: #FCF7D1!important;
	background-image: url("/bitrix/themes/.default/images/wait.gif")!important;
	background-position: 10px center!important;
	background-repeat: no-repeat!important;
	position: relative!important;
	z-index: 10000;
	text-align: center;
	position: static!important;
	width: 100%;}
div.photo-header-big div.photo-header-inner,
div.photo-header-middle div.photo-header-inner{
	margin-bottom: 0.78em; }
div.photo-header-big {
	border-bottom: 1px solid;
	font-weight: bold;
	font-size: 110%;
	margin-bottom: 0.78em; }
div.photo-header-component {
	font-weight: bold;
	font-size: 110%;
	margin-right: 1em;
	margin-bottom: 0.78em;}
span.photo-header-link {
	font-weight: normal;
	font-size: 100%;}
div.reviews-navigation-top {
	display: none;}
div.tags-cloud a {
	text-decoration: none;}
div.tags-cloud a:hover{
	text-decoration: underline;}
/********************************************************************
				Standart styles
********************************************************************/


/********************************************************************
				Album  styles
********************************************************************/
div.photo-album-avatar, div.photo-album-thumbs-avatar, div.photo-album-avatar-empty{
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
	cursor: hand;
	overflow: hidden;}

div.photo-album-avatar-edit div.photo-album-menu{display: block!important;}

div.photo-item-cover-block-outside{
	padding: 0 8px 8px 0; }
div.photo-item-cover-block-inside{
	padding: 8px 20px;
	border: none;}
div.photo-item-cover-block-container,
div.photo-item-cover-block-outer,
div.photo-item-cover-block-inner {
	border: 1px solid; }
div.photo-item-cover-block-container{
	position: relative!important; }
div.photo-item-cover-block-outer,
div.photo-item-cover-block-inner {
	position:absolute!important; }
div.photo-item-cover-block-container{
	left: 6px;
	top: 8px;}
div.photo-item-cover-block-outer {
	left: -4px;
	top: -4px;}
div.photo-item-cover-block-inner {
	left: -4px;
	top: -4px;}
div.photo-item-info-block-outer{
	padding: 4px 2px 2px 2px;}
div.photo-item-cover {
	cursor: pointer;
	cursor: hand;}
div.photo-album-name a {
	line-height: 1.2em; }
div.photo-album-date, div.photo-album-photos {
	font-size: 11px;}
/************** Album controls on cover ****************************/
div.photo-album-menu-controls {z-index: 100;text-align: center;}
div.photo-album-menu{display:none; width: 100%;height: 100%;position: relative;}
div.photo-item-over div.photo-album-menu{display: block!important;}

div.photo-album-menu div {position: absolute;	width:100%;	height:100%;}
div.photo-album-menu-controls a {line-height: 1em;display: block;}
/************** Albums List ****************************************/
ul.photo-album-list, ul.photo-album-thumbs-list, li.photo-album-item {padding: 0;margin: 0;list-style-type: none;}
ul.photo-album-list div.photo-item-info-block-outside {margin-left: 0!important;}
li.photo-album-item{margin: 0;float: left;padding: 0 30px 30px 0;display: inline;}
ul.photo-album-thumbs-list li, ul.photo-album-thumbs-list div,
ul.photo-album-list li, ul.photo-album-list div{zoom: 1;}
ul.photo-album-list li,ul.photo-album-list div.photo-item-cover-block-outside,ul.photo-album-thumbs-list li,ul.photo-album-thumbs-list div.photo-item-cover-block-outside {float: left;}
ul.photo-album-list div.photo-item-info-block-outside,ul.photo-album-thumbs-list div.photo-item-info-block-outside {clear: both;}
li.photo-album-item div.photo-album-name {	position: relative;height: 1.4em;font-weight: bold;overflow: hidden;}
li.photo-album-item div.photo-album-name a {line-height: 1.4em;text-decoration: none;}
li.photo-album-item div.photo-album-date{padding-top: 1px;float: right;}
li.photo-album-item div.photo-album-photos {padding-top: 1px;}
li.photo-album-item div.photo-album-photos-top, li.photo-album-item div.photo-album-description{display: none;}

ul.photo-album-list-first-photos {display: inline-block!important; padding-right: 20em;}
ul.photo-album-list-first-photos  li.photo-album-item{float: none!important;display: block;}
ul.photo-album-list-first-photos  .album-name{text-decoration: none;font-size: 1.2em;font-weight: bold;color: #373737; font-family: Verdana;}
ul.photo-album-list-first-photos  .album-date, ul.photo-album-list-first-photos  .album-photos{text-decoration: none;font-size: 1.1em;color: #7F7F7F; margin: 0 0 0 7px;}
ul.photo-album-list-first-photos  .album-passworded{text-decoration: none;font-size: 1.1em;color: #7F7F7F;}
ul.photo-album-list-first-photos  .more-photos{margin: 0 1px;}
ul.photo-album-list-first-photos .photo-item-cont {padding: 6px; border: 1px solid #DBDBDB; margin: 0 8px 8px 0;}
ul.photo-album-list-first-photos .album-photos-section{margin: 12px 0 10px 0;}
ul.photo-album-list-first-photos .album-separator-line{height: 1px; background-color: #DBDBDB; width: 100%; line-height: 1px !important; font-size: 1px !important;}
ul.photo-album-list-first-photos .album-list-action-cont {margin: 10px 0 0 0!important;}
ul.photo-album-list-first-photos .album-list-action-cont a{font-size: 90%; display: inline-block; margin: 0 5px 0 0;}
ul.photo-album-list-first-photos .album-no-photos{color: #808080;}

/************** Album Single ***************************************/
div.photo-album-header div {
	float: left;}
div.photo-album-item div.photo-album-name,
div.photo-album-item div.photo-album-date {
	line-height:1.5em;}
div.photo-album-item div.photo-album-name {
	font-weight: bold;}
div.photo-album-item div.photo-album-date, div.photo-album-item div.photo-album-description {margin-top:0.3em;}
div.photo-album-item div.photo-album-info{margin-bottom:1em;}
/************** Album Edit *****************************************/
.photo-album-edit-cont{}
.photo-album-edit-cont label{color: #666666!important; font-size: 11px!important; font-weight: normal!important; font-family: Verdana;  margin: 8px 4px 0 5px!important; float: left;}
.photo-album-edit-cont label.photo-al-ed-label-top{display: block!important; margin: 3px 0 3px 0!important; float: none!important;}
.photo-album-edit-cont .photo-al-ed-width{width: 400px!important;}
.photo-album-edit-cont textarea{width: 400px!important; height: 5em!important; resize:none!important;}
.photo-album-edit-cont div.integer{display: block!important; float: left; margin-top: 4px !important;}
tr.photo-album-edit-heading td{color: #000000!important; font-size: 14px!important; font-family: Verdana!important; font-weight: bold!important; padding: 10px 5px 5px 10px!important;}
tr.photo-album-edit-buttons td{padding: 10px 5px 5px 140px!important; text-align: left!important;}

td.photo-al-edit-icon-sect {}
div.photo-ed-al-contols {}
div.photo-ed-al-contols a{border-width: 0 0 1px 0!important; border-style: dashed!important; border-color: #567FDD; text-decoration: none; display: inline-block; margin: 2px; white-space: nowrap!important;}

div.photo-ed-al-items-list{overflow: hidden;}
div.photo-ed-al-items-list div.photo-ed-al-item{border-width: 0 0 1px 0; border-style: solid; border-color:#EBEBEB; margin: 0; padding: 10px 0 10px 10px; float: left;}
div.photo-ed-al-items-list div.photo-ed-al-item .photo-ed-al-item-thumb{background-color: #000000; float: left; margin: 5px 10px 10px 10px; cursor: pointer!important; display: block;}
div.photo-ed-al-items-list div.photo-ed-al-item .photo-ed-al-item-thumb div.photo-ed-al-item-thumb-inner{overflow: hidden; position: relative;}
div.photo-ed-al-items-list div.photo-ed-al-item .photo-ed-al-item-thumb div.photo-ed-al-item-thumb-inner img{position: absolute; border-width: 0!important; border-width: 0!important;}
div.photo-ed-al-items-list div.photo-ed-al-item div.photo-ed-al-item-thumb div{background-position: center center; background-repeat: no-repeat;}
.photo-album-edit-cont div.photo-ed-al-items-list textarea{height: 4em!important; display: block;}
div.photo-ed-al-item-params {float: left; position: relative; width: 400px;}
div.photo-ed-al-item-params a.photo-al-ed-tags-link{color: #666666; text-decoration: none; border-bottom: 1px dotted #666666; cursor: pointer;  font-family: Verdana; font-size: 11px !important; font-weight: normal !important; margin: 5px 0 4px; display: block; float: left;}
div.photo-ed-al-item-params a.photo-tags{border-width: 0!important;}
div.photo-ed-al-item-params a.photo-al-ed-action, a.photo-al-ed-action{text-decoration: none; border-bottom: 1px dashed #567FDD; cursor: pointer; font-family: Verdana; font-size: 11px !important; font-weight: normal !important; margin: 2px; white-space: nowrap!important; float: right;}
div.photo-ed-al-item-params input.search-tags {width: 300px;}
div.photo-ed-al-item-params  input.photo-al-ed-item-check{position: absolute; right: -25px; top: 16px;}
div.photo-ed-al-show-more {text-align: center; background-color: #EBEBEB; padding: 6px;}
div.photo-ed-al-show-more-loading  span{display: none!important;}
div.photo-ed-al-show-more-loading  div.photo-wait{display: block!important;}
div.photo-ed-al-show-more span{border-width: 0!important; color: #567FDD;text-decoration: none; white-space: nowrap!important; font-family: Verdana; font-size: 13px !important; font-weight: bold !important; cursor: pointer; display: block;}
div.photo-wait{background: url("/bitrix/js/main/core/images/wait.gif") transparent no-repeat center center; width: 19px; height: 19px; display: none;margin-left: 45%;}
div.photo-al-ed-rotate{width: 16px; height: 16px; float: right; cursor: pointer; margin: 0 2px 0 0;}
div.photo-al-ed-rotate-l{background: url("/bitrix/components/bitrix/photogallery/templates/.default/images/arrow-l.png") transparent no-repeat center center;}
div.photo-al-ed-rotate-r{background: url("/bitrix/components/bitrix/photogallery/templates/.default/images/arrow-r.png") transparent no-repeat center center;}

div.photo-ed-al-items-list div.photo-ed-al-item-deleted{background: #ffffdf; width: 100%;}
div.photo-ed-al-items-list div.photo-ed-al-item-deleted .photo-ed-al-item-thumb, div.photo-ed-al-items-list div.photo-ed-al-item-deleted div.photo-ed-al-item-params{display: none!important;}
a.photo-al-ed-action-restore {display: none; margin-right: 30px;}
div.photo-ed-al-items-list div.photo-ed-al-item-deleted a.photo-al-ed-action-restore{display: block!important;}

.photo-rotate-90{-moz-transform:rotate(90deg); -webkit-transform:rotate(90deg); -o-transform:rotate(90deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);}
.photo-rotate-180{-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);}
.photo-rotate-270{-moz-transform:rotate(270deg);-webkit-transform:rotate(270deg);-o-transform:rotate(270deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}
.photo-rotate-ie9-90{-ms-transform:rotate(90deg);}
.photo-rotate-ie9-180{-ms-transform:rotate(180deg);}
.photo-rotate-ie9-270{-ms-transform:rotate(270deg);}

div.photo-ed-al-group-actions{text-align: right; padding: 5px 14px; float: right;}
.photo-ed-al-sel-all{color: #666666; cursor: pointer; font-family: Verdana; font-size: 11px !important; text-decoration: underline;}
.photo-ed-al-sel-all .photo-ed-al-desel{display: none;}
.photo-ed-al-desel-all .photo-ed-al-sel{display: none;}
.photo-ed-al-desel-all .photo-ed-al-desel{display: inline;}

.photo-ed-al-gract-del, .photo-ed-al-gract-move{color: #567FDD; cursor: pointer; font-family: Verdana; font-size: 11px !important; text-decoration: none; border-bottom: 1px dotted #567FDD; margin: 0 5px;}

.photo-ed-al-move-cnt {}
.photo-ed-al-move-popup{background: #FFFFFF; border: 1px solid #666666; overflow: auto; overflow-x: hidden; overflow-y: auto;}
.photo-ed-al-move-popup a{display: block; margin: 0; white-space: nowrap; padding: 3px 6px; text-decoration: none;}
.photo-ed-al-move-popup a:hover{background-color: #EBEBEB;}

/* Additional section (date and password fields)*/
div.photo-al-ed-add-set{float: left;width: 400px;}
div.photo-al-ed-add-set span.photo-al-ed-add-link{display: block;margin: 5px 0 4px;float: left;}
div.photo-al-ed-add-set div.photo-al-ed-add-cont{margin: 5px 0 4px; width: 98%; float: left;}
div.photo-al-ed-add-set span.photo-al-ed-add-link span{color: #666666; text-decoration: underline; cursor: pointer; font-family: Verdana; font-size: 12px !important; font-weight: normal !important; float: left;}
div.photo-al-ed-add-hidden span.photo-al-ed-add-link span.bxph-hiden, div.photo-al-ed-add-hidden div.photo-al-ed-add-cont{display: none!important;}
div.photo-al-ed-add-set span.photo-al-ed-add-link span.bxph-showed{display: none!important;}
div.photo-al-ed-add-hidden span.photo-al-ed-add-link span.bxph-showed{display: block!important;}
input.photo-al-ed-use-pass{display: block;float: left;height: 10px !important;line-height: 8px !important;margin: 8px 0 0;}
div.bxph-pass-cont {float: left; margin: 5px 0 0 0!important; height: 26px;}
div.bxph-pass-cont .bxph-colon, div.bxph-pass-cont input.bxph-pass-field{display: none;}
div.bxph-show-pass-cont .bxph-colon{display: inline!important;}
div.bxph-show-pass-cont input.bxph-pass-field{display: inline-block!important; margin: 2px 0 0 0!important;}




div.photo-window-edit table{width: 99%;}
div.photo-window-edit table thead{display: none;}
div.photo-edit-field-title input{width: 80%;}
div.photo-edit-field-description textarea {width: 100%;height: 10em;}

div.photo-edit-field {
	padding: 0.7em 0 0.3em 0.3em;}
div.photo-edit-field-title label,
div.photo-edit-field-tags label,
div.photo-edit-field-description label,
div.photo-edit-field-date label{
	display: block;
	margin-bottom: 0.2em;}
div.photo-edit-field-image{
	position: relative;
	float: left;
	padding: 0px;
	margin: 0px 5px 5px 0px !important;
	border: none;}
div.photo-edit-field-image input {position: absolute;z-index: 1000;top: 2px;left: 2px;}
div.photo-edit-field-image img {
	cursor: pointer;
	cursor: hand;}
/********************************************************************
				Album  styles/
********************************************************************/
/********************************************************************
				Photo styles
********************************************************************/
/************** Controls on list photo *****************************/
li.photo-control-photo-selectall span, li.photo-control-photo-drop span,
li.photo-control-photo-moderate span {
	padding-right: 1em;
	border-right: 1px solid;}
li.photo-control-photo-move select {
	width: 12em;
	margin-left: 0.5em;}
/************** Controls on detail photo ***************************/
div.photo-controls-photo ul {
	height: auto;}
div.photo-controls-photo li {
	float: none;}
/************** Photographies **************************************/
div.group-by-days {
	clear: both;
	padding-bottom: 1em;}
table.photo-photo-item {
	float:left;
	margin-right:1.5em;
	margin-bottom:1.5em;}
table.photo-photo-item td, table.photo-photo-item th{
	border:none;
	margin:0;
	padding:0;}
div.photo-photo-name{
	font-weight: bold;}
/* Photo .Default */
table.photo-photo-item-default td.photo-photo-info div.photo-photo-comments {
	line-height: 1em;
	height: 1.2em;
	overflow: hidden;
	font-size: 11px;
	padding-left: 3px;}
table.photo-photo-item-default div.photo-photo-item-inner{
	padding: 3px;
	vertical-align: top;}
/* Photo Table */
table.photo-photo-item-table{
	border: 1px solid;}
table.photo-photo-item-table th.photo-photo-image {
	padding: 1em 1em 0 1em;}
table.photo-photo-item-table div.photo-photo-name,
table.photo-photo-item-table div.photo-photo-rating,
table.photo-photo-item-table div.photo-photo-rating div,
table.photo-photo-item-table div.photo-photo-comments,
table.photo-photo-item-table div.photo-photo-shows {
	overflow: hidden;
	white-space: nowrap;
	line-height: 1em;
	height: 1.2em;}
table.photo-photo-item-table tfoot td.photo-photo-info {
	padding: 1em;
	vertical-align: top;}
table.photo-photo-item-table div.photo-photo-item-block-inner {
	border: 1px solid;}
table.photo-photo-item-table div.photo-photo-info{
	margin-top: 1em;}
/* Photo Ascetic */
div.photo-photo-item-ascetic{padding: 2px; float: left;margin: 0 4px 4px 0;}
a.photo-photo-item-ascetic-inner{
	overflow: hidden;
	display: block;}
/************** Popup div To Detail to around Slider ***************/
div.photo-photo-item-popup {
	cursor: pointer;
	cursor: hand;
	background-position: left top;
	background-repeat: no-repeat;
	zoom: 1;
	z-index: 1100;
	visibility: visible;
	display: block;
	width: 20px;
	height: 20px;}
div.photo-detail-img div.photo-photo-item-popup {
	display: none!important;}
/************** Photo navigation on detail page ********************/
div.photo-detail {
	margin-bottom: 1.5em;}
div.photo-photo-info div.vote-no-results {
	display: block;}
div.photo-detail-image {
	float: left;}
div.photo-photo-info div.photo-photo-date {
	padding-top: 0.38em;}
div.photo-photo-info div.photo-photo-description {
	margin-top: 1em;
	padding-top: 0.5em;}
div.photo-photo-tags {
	padding-top: 0.5em;}
div.photo-photo-rating {
	padding-top: 2em;}
div.photo-controls-photo {
	margin-top: 2em;}
div.photo-detail-image{
	padding-right: 1em;}
div.photo-photo-date, div.photo-photo-tags, div.photo-photo-tags a {
	font-size: 11px;}
div.photo-photo-info #photo_vote td.vote-result{
	width: 100px;
	overflow: hidden;}
/********************************************************************
				/ Photo styles
********************************************************************/
/********************************************************************
				Gallery
********************************************************************/
div.photo-gallery-name {
	white-space: nowrap;}
div.photo-gallery-avatar{
	display: none;}
/************** Ascetic Gallery ************************************/
ul.photo-galleries-list-ascetic,
ul.photo-galleries-list-ascetic li.photo-gallery-item{	margin: 0;padding: 0;	border: none;list-style-type: none;}
ul.photo-galleries-list-ascetic li.photo-gallery-item {	width: 30em;margin-right: 1em;	margin-bottom: 1em;float: left;height: 6.2em;overflow: hidden;}
ul.photo-galleries-list-ascetic  div.photo-gallery-description {line-height: 1.5em;height: 4.5em;}
/************** Default Gallery ************************************/
div.photo-gallery-item div.photo-control {
	float: left;
	line-height: 1.7em;
	height: 1.7em;
	padding-left: 0.7em;}
ul.photo-galleries-list li.photo-gallery-item {
	padding-bottom: 1em;}
div.photo-controls-gallery-edit {
	margin-top: 0.5em;}
/************** Galleries ******************************************/
li.photo-gallery-item td.photo-item-cover {
	display: none;}
div.photo-gallery-empty a{
	text-decoration: none;}
/************** Gallery Edit ***************************************/
div.photo-edit-fields-gallery i {
	display: block;
	font-size: 90%;
	width: 80%;
	color: gray;}
div.photo-edit-fields-gallery div.photo-edit-field-avatar {
	/*display: none;*/
}
div.photo-edit-fields-gallery div.photo-edit-field-code input {
	width: 50%;}
div.photo-edit-fields-gallery div.photo-edit-field-title input{
	width: 80%;}
div.photo-edit-fields-gallery div.photo-edit-field-description textarea {
	width: 80%;
	height: 10em;}
div.photo-edit-fields-gallery div.photo-edit-field {
	padding: 0.7em 0 0.5em 0.3em;}
div.photo-edit-fields-gallery div.photo-edit-field-code label,
div.photo-edit-fields-gallery div.photo-edit-field-title label,
div.photo-edit-fields-gallery div.photo-edit-field-avatar label,
div.photo-edit-fields-gallery div.photo-edit-field-description label{
	display: block;
	margin-bottom: 0.2em;}
/********************************************************************
				/ Gallery
********************************************************************/

/********************************************************************
				Pages
********************************************************************/
/************** Index Page *****************************************/
div.photo-page-main {position: relative;}
div.photo-page-main div.photo-controls-buttons, div.photo-page-main div#photo-links-on-main-page, div.photo-page-main div.photo-info-box-tags-cloud {margin-bottom: 2.8em;}
div.photo-page-main div#photo-main-page-right ul.photo-controls {height: auto;}
div.photo-page-main div#photo-main-page-right ul.photo-controls li{clear: both;}
div.photo-page-main #photo-main-page-right{position: absolute; top: 0; right: 5px; min-width: 15em; max-width: 25em;}
/************** Search Page ****************************************/
div.photo-page-search div.photo-info-box-tags-cloud{width: 20em;}
/************** Section Page ***************************************/
div.photo-page-section div.photo-info-box-photo-list {margin-bottom: 2.8em;}
/********************************************************************
				/Pages
********************************************************************/

/************** Index & Search Page ********************************/
/* Main Table on index page */
div.photo-page-main div.photo-header-component {/*float: left; */}
div.photo-page-main table.photo-table td.photo-td-left,div.photo-page-search table.photo-table td.photo-td-left {padding-right: 2em; width: 90%;}
div.photo-page-main table.photo-table td.photo-td-right div.photo-info-box-galleries, div.photo-page-search table.photo-table td.photo-td-right div.photo-info-box-tags-cloud{width: 25em;}
/* Buttons: Upload, Create, Edit, Moderate */
div.photo-page-main td.photo-td-right ul.photo-controls,
div.photo-page-main td.photo-td-right ul.photo-controls li{clear: both;overflow: visible;}
/* Buttons: Login is invisible by default */
div.photo-controls-authorize {display: none;}
/* Users galleries in 2 columns */
div.photo-controls-mainpage li.photo-gallery-item {width: 11.5em;overflow: hidden;margin: 0 0.5em 0 0;float: left;height: 2em; overflow: hidden;}
div.photo-controls-mainpage div.photo-gallery-name {font-weight: normal;	line-height: 2em;	height: 2em;}
div.photo-controls-mainpage div.photo-gallery-name a{font-weight: normal;line-height: 1.7em;height: 1.7em;}

/* Best Photo Block */
div.photo-photo-item-simple{padding-top: 0.3em;}
div.photo-photo-item-simple div.photo-photo-name {float: left;font-weight: normal;white-space: nowrap;overflow: hidden;display: none;}
div.photo-photo-item-simple div.photo-gallery-info {white-space: nowrap;overflow: hidden;}
div.photo-photo-item-simple div.photo-simple-gallery label {display: none;}
/* Information blocks right */
div.photo-page-main div.photo-controls-usermenu,div.photo-page-main div.photo-info-box-best-photo, div.photo-page-main div.photo-info-box-photo-list, div.photo-page-main div.photo-info-box-galleries {	margin-bottom: 2.5em;}
/************** Section Page ***************************************/
div.photo-page-section div.photo-info-box-photo-list {margin-bottom: 2.8em;}
/************** Page User Gallery **********************************/
div.photo-page-gallery {margin-top: 0.78em;padding-top: 2em;border-top-width: 1px;border-top-style: solid;}
/************** Progress bar ***************************************/
div.pbar-mark, div.pbar-mark-green {width:17px; height:17px; background-repeat:no-repeat; padding:0px;}
div.pbar-mark-green{background-image:url(/bitrix/themes/.default/images/pbar/kv_green.gif);}
div.pbar-outer{padding:1px; margin:0px; border:1px solid #8e99be; display:block; position:relative; top:0px; width:350px; height:13px; overflow:hidden; white-space:nowrap;}
div.pbar-inner, div.pbar-inner-red, div.pbar-inner-green, div.pbar-inner-yellow, div.pbar-inner-red-error, div.pbar-inner-green-error, div.pbar-inner-yellow-error{padding:0px; margin:0px; border:none; display:inline; height:13px; background-repeat:repeat-x;}
div.pbar-inner-green{background-image:url(/bitrix/themes/.default/images/pbar/bar_green.gif);}
div.pbar-inner-green-error{background-image:url(/bitrix/themes/.default/images/pbar/bar_green_err.gif);}
div.pbar-title-outer{padding:0px; margin:0px; display:block; position:relative; top:0px; border:none; width:350px;}
div.pbar-title-inner{padding:0px 10px; width:100%; text-align:center;}
div.photo-page-galleries-recalc div.photo-info-box {margin-bottom: 1em;}



/* End */


/* Start:/bitrix/components/bitrix/photogallery.upload/templates/.default/style.css?150116192229112*/
/* Top controls */
form.bxiu-photo-form {padding:0; margin:0;}
div.bxiu-top-bar{background: #F2F2F2!important; border: 1px solid #DFDFDF; height: 31px;}
div.bxiu-album-cont{margin: 5px 5px 0 10px; float: left;}
div.bxiu-album-cont select{max-width: 300px;}
div.bxiu-top-bar a.bxiu-add-set-link {color: #0069C4; margin: 9px 5px 0 10px; border-bottom: 1px dashed #0069C4; text-decoration: none!important; float: left; font-weight: bold; font-family: Verdana!important; font-size: 12px!important;}
div.bxiu-top-bar a.bxiu-mode-link{display: block; float: right; color: #2E2E2E!important; text-decoration: underline!important;  margin: 9px 10px 0 0; font-family: Verdana!important;  font-size: 12px!important; font-weight: bold;}

div.bxiu-add-params {
	background: #ffffff;
	border: 1px solid #DFDFDF;
	border-top: none;
	display: none;
	text-align: left;}
.bxu-thumbnails-settings-are .bxiu-add-params {
	display: block!important;
}
.bxiu-settings {
	max-width: 50%;
	float: left;
	margin: 5px 0;
	padding: 10px 20px;
}
.bxiu-settings:last-child { border-left: 1px solid #DFDFDF; }
.bxiu-settings:first-child { border-left: none; }

.bxiu-watermark-cont, .bxiu-watermark-image, .bxiu-watermark-text { display: none; }
.bxiu-watermark-checked .bxiu-watermark-cont, .bxiu-watermark-image-checked .bxiu-watermark-image, .bxiu-watermark-text-checked .bxiu-watermark-text { display: block; }

div.bxiu-watermark-image input { float : left; }
iframe.bxiu-watermark-iframe{height: 25px;border-width: 0;display: block;float: left;width: 250px;overflow: hidden; display: block; float: left;}
div.bxiu-watermark-image-but-cont{float: left; height: 20px;}
div.bxiu-watermark-types label, div.bxiu-watermark-types input{display: block; float: left;}
div.bxiu-watermark-text-but-cont{float: left; height: 20px; overflow : hidden;}


/* Controls*/
div.bxiu-but-cont {float: left; margin: 2px 3px;}
div.bxiu-but{background-image: url("/bitrix/components/bitrix/photogallery.upload/templates/.default/images/sprite.png"); width: 17px; height: 17px; cursor: pointer; margin: 0!important; padding: 0!important;}

/* Popup*/
div.bxiu-popup-but{}
/*Overlay*/
.bxiu-trans-overlay{height:100%; width:100%; left: 0; top: 0; position: absolute; -moz-user-select: none !important; display: none; background-color:#FFFFFF; filter: alpha(opacity=0); -moz-opacity: 0; opacity: 0;}

/* Copyright*/
div.bxiu-copyright{background-position: -64px -107px;}
div.bxiu-copyright-none{background-position: -82px -107px!important;}

input.bxiu-watermark-text-inp{background: #fff; padding: 0; width: 193px;}
input.bxiu-show-copyright{background: #fff url("/bitrix/components/bitrix/photogallery.upload/templates/.default/images/copyright.gif") no-repeat -1px -1px; padding: 0 0 0 18px!important; width: 175px!important;}

/*Colorpicker*/
div.bxiu-color-but {width: 15px; height: 15px; background-position: -83px -128px; background-color: red;}

/*colorpicker*/
div.wm-colpick-cont{position: absolute; border: 1px solid #808080; background-color: #E4E2DC; display: none; width: 322px;
top: -1000px; left: -1000px;}
table.wm-colpic-tbl{border-collapse: separate !important;}
table.wm-colpic-tbl td.wm-col-cell{width: 16px; height: 16px; border: 1px solid #808080; font-size: 5px !important;}
table.wm-colpic-tbl td.wm-col-cell-over{border: 1px solid #FFC678 !important;}

td.wm-color-inp-cell{height: 25px;}
span.wm-colpic-def-but{background-color: #E4E2DC;border: 1px solid #808080;display: block;margin: 1px;font-size: 12px !important; padding: 3px; text-align: center !important; vertical-align: middle !important; cursor: default;}
span.wm-colpic-def-but-over{background-color: #FFC678; border: 1px solid #4B4B6F;}

/* Position */
div.bxiu-but-position_text {width: 18px; height: 18px;}

div.bxiu-pos-popup {position: absolute; display:none; background: #ffffff;  border: 1px solid #c0c0c0; width: 69px!important; height: 69px!important;}
div.bxiu-pos-popup div{background-image: url("/bitrix/components/bitrix/photogallery.upload/templates/.default/images/sprite.png"); background-repeat: no-repeat;width: 18px!important; height: 18px!important; margin:2px 0 0 2px!important; border: 1px solid #ffffff; background-color:#ffffff; float: left; cursor: pointer;}
div.bxiu-pos-popup div.bxiu-active{border: 1px solid #c0c0c0!important;}

div.bxiu-but-pos-topleft {background-position: -44px -47px;}
div.bxiu-but-pos-topcenter {background-position: -62px -47px;}
div.bxiu-but-pos-topright {background-position: -80px -47px;}
div.bxiu-but-pos-centerleft {background-position: -44px -65px;}
div.bxiu-but-pos-center {background-position: -62px -65px;}
div.bxiu-but-pos-centerright {background-position: -80px -65px;}
div.bxiu-but-pos-bottomleft {background-position: -44px -83px;}
div.bxiu-but-pos-bottomcenter {background-position: -62px -83px;}
div.bxiu-but-pos-bottomright {background-position: -80px -83px;}

/* Size*/
div.bxiu-text-size-popup {position: absolute; display:none; background: #ffffff;  border: 1px solid #c0c0c0; width: 24px!important; height: 69px!important;}

div.bxiu-text-size-popup div{background-image: url("/bitrix/components/bitrix/photogallery.upload/templates/.default/images/sprite.png"); background-repeat: no-repeat;width: 18px!important; height: 18px!important; margin:2px 0 0 2px!important; border: 1px solid #ffffff; background-color:#ffffff; float: left; cursor: pointer;}
div.bxiu-text-size-popup div.bxiu-active{border: 1px solid #c0c0c0!important;}

div.bxiu-but-t-size-big {background-position: -44px -1px;}
div.bxiu-but-t-size-middle {background-position: -62px -1px;}
div.bxiu-but-t-size-small {background-position: -80px -1px;}

/* Image size */
div.bxiu-img-size-popup {position: absolute; display:none; background: #ffffff;  border: 1px solid #c0c0c0; width: 24px!important; height: 89px!important;}
div.bxiu-img-size-popup div{background-image: url("/bitrix/components/bitrix/photogallery.upload/templates/.default/images/sprite.png"); background-repeat: no-repeat;width: 18px!important; height: 18px!important; margin:2px 0 0 2px!important; border: 1px solid #ffffff; background-color:#ffffff; float: left; cursor: pointer;}
div.bxiu-img-size-popup div.bxiu-active{border: 1px solid #c0c0c0!important;}

div.bxiu-but-i-size-real {background-position: -27px -25px;}
div.bxiu-but-i-size-big {background-position: -45px -25px;}
div.bxiu-but-i-size-middle {background-position: -63px -25px;}
div.bxiu-but-i-size-small {background-position: -81px -25px;}

/* Preview image*/
div.bxiu-watermark-preview {
	margin: 5px;
	display: none;
	max-width: 200px;
	position: relative;
}
div.bxiu-watermark-preview div.bxiu-watermark-image-preview {
	max-width: 100%;
	max-height: 100%;
}
div.bxiu-watermark-preview img.bxiu-watermark-image-preview {
	max-width: 100%;
	max-height: 100%;
}
div.bxiu-watermark-preview div.bxiu-file-del {
	background: url("/bitrix/components/bitrix/photogallery.upload/templates/.default/images/sprite.png") no-repeat -81px -169px transparent;
	width: 22px;
	height: 22px;
	position: absolute;
	right: -11px;
	top: -11px;
	cursor: pointer;
	display: none;
}

a.bxiu-preview-del-link{font-family: Verdana; font-size: 11px; display: block; margin: 3px 0 5px 20px;}

/* Opacity */
div.bxiu-opacity-cont{position: relative; float: left; top: -20px;}
div.bxiu-img-opacity-cont{position: relative; float: left; left: 31px; top: -20px;}
div.bxiu-opacity{height: 50px;}
div.bxiu-opacity div.bxiu-opacity-label{height: 16px; width: 100%; color: #303030; font-size: 12px; font-family: Verdana; border-width: 0 0 1px 0; border-color: #E0E0E0; border-style: solid; /*padding: 0 18px 0 18px!important; */ padding: 0; margin: 0!important; line-height: 12px!important; width: 150px; text-align: center;}
div.bxiu-opacity div.bxiu-op-div{height: 20px; margin: 4px 0 0 0!important;}

div.bxiu-opacity div.bxiu-op-div div.bxiu-op-val-cont{float: left; height: 21px; cursor: pointer; margin: 0!important;}
div.bxiu-op-val-cont div.bxiu-op-l-corn, div.bxiu-op-val-cont div.bxiu-op-r-corn{float: left; background-image: url("/bitrix/components/bitrix/photogallery.upload/templates/.default/images/sprite.png"); height: 21px; width: 5px; display: none;}
div.bxiu-op-val-cont div.bxiu-op-center{float: left; border-width: 0!important; height: 21px!important; margin: 0 5px;}
div.bxiu-op-val-cont div.bxiu-op-center span{font-family: Verdana!important; font-size: 12px!important; color: #BDBDBD!important;line-height: 12px; margin: 4px 0 0 0; display: block;}
div.bxiu-op-val-cont div.bxiu-op-l-corn{background-position: -63px -147px;}
div.bxiu-op-val-cont div.bxiu-op-r-corn{background-position: -93px -147px;}

div.bxiu-op-val-cont-active div.bxiu-op-center span{color: #303030!important; margin: 3px 0 0 0!important;}
div.bxiu-op-val-cont-active div.bxiu-op-center{margin: 0!important;}
div.bxiu-op-val-cont-active div.bxiu-op-l-corn, div.bxiu-op-val-cont-active div.bxiu-op-r-corn{display: block!important;}
div.bxiu-op-val-cont-active div.bxiu-op-center{border-width: 1px 0 1px 0!important; border-style: solid; border-color: #DEDEDE; height: 19px!important;}

.photo-quirks-mode div.bxiu-op-val-cont-active div.bxiu-op-center{zoom:1;
	border-width: 1px 0 1px 0!important; border-style: solid; border-color: #DEDEDE; height: 21px!important;
}



div.bxiu-buttons{margin: 10px;}
div.bxiu-simple-cont{float: left;width: 100%;margin: 10px 0;}

/* Simple uploader  */
.bxiu-field-upload {height: 30px; overflow: hidden; position: relative;}
.bxiu-field-upload input.bxiu-fake-input {font-size: 150px; height: 50px; cursor: default; filter: alpha(opacity=0); -moz-opacity: 0; opacity: 0; position: absolute; top: -10px; left: -400px; width: 500px;}
input.bxiu-add-files-but {cursor: pointer; display: inline-block; vertical-align: top;text-decoration: none !important;outline: medium none;}

.bxiu-files-list{margin: 0 0 10px 15px; padding: 0;}
.bxiu-files-list div.bxiu-file-cont{background:#ffffff; margin: 5px 15px 0 0; display: block; position: relative; float: left;}
div.bxiu-file-cont div.bxiu-file-thumb{border: 1px solid #C7C7C7; background-color: #ffffff; overflow: hidden; position: relative;}
div.bxiu-file-cont div.bxiu-file-thumb img{position: absolute; top: 0; left: 0;}
div.bxiu-file-cont div.bxiu-file-title{color: #000000; margin: 3px 0 0 3px!important; font-family: Verdana; font-size: 10px; font-weight: normal; overflow: hidden; height: 27px;}
div.bxiu-file-cont div.bxiu-file-del{background: url("/bitrix/components/bitrix/photogallery.upload/templates/.default/images/sprite.png") no-repeat -81px -169px transparent; width: 22px; height: 22px; position: absolute; right: -10px; top: -10px; cursor: pointer;}
div.bxiu-loading div.bxiu-file-thumb{background: url("/bitrix/components/bitrix/photogallery.upload/templates/.default/images/wait.gif") center center #ffffff no-repeat !important;}
div.bxiu-loading div.bxiu-file-title{color: #7F7F7F!important;}
div.bxiu-loading div.bxiu-file-del{display: none!important;}

.bxiu-notice-applet {border: 1px solid #DFDFDF;background-color: #F2F2F2;margin: 10px 0!important; display: inline-block; padding: 0 15px;}
.bxiu-notice-applet p {margin: 12px 0!important; padding: 0!important;}

.pg-select {
	border: 1px solid;
	border-color: #b9bcbe #bdc1c3 #c1c5c8;
	-webkit-box-shadow: inset 0 1px 2px 0 #dbdbdb;
	box-shadow: inset 0 1px 2px 0 #dbdbdb;
	border-radius: 2px;
	color: #585858;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	min-width: 200px;
	max-width: 320px;
	height: 27px;
	outline: none;
	padding: 3px 3px 3px 0;
	vertical-align: middle;
}

.pg-top-bar-text {
	color: #41474f;
	display: inline-block;
	font-size: 14px;
	margin-right: 19px;
	vertical-align: middle;
}

input.bxu-file-input{
	cursor: pointer !important;
	font-size: 20px !important;
	height: 105px !important;
	opacity: 0 !important;
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	filter: alpha(opacity=0)!important;
}

.bx-uploader {
	background-color: #f8fafb;
	border: 1px solid;
	border-color: #d9e4e7 #d9e4e7 #d4dfe2;
	border-top: none;
	border-radius: 0 0 4px 4px;
	-webkit-box-shadow: 0 1px 2px #e3e5e5;
	box-shadow: 0 1px 2px #e3e5e5;
}

.bxu-thumbnails {
	padding: 0 2px;
}
.bxu-start-block {
	display: none;
	overflow: hidden;
	position: relative;
}

.bxu-thumbnails-start .bxu-start-block {
	display: block;
}

.bxu-start-block-cont {
	top: 7%;
	left: 9.5%;
	position: absolute;
	width: 81%;
}

.bxu-start-block-img {
	display: block;
	margin: 6% auto 2%;
	max-width:328px;
	width: 24%;
}

.bxu-start-block-btn {
	position: relative;
	text-align: center;
	margin-bottom: 2.5%;
}

.bxu-start-block-text {
	color: #92959c;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

.bxu-start-block-description {
	color: #c6c9cc;
	display: block;
	font-size: 17px;
	font-weight: bold;
	margin-top: 1%;
}

.bxu-start-block-spacer-div {
	position: relative;
	display: block;
	width: 75%;
	margin: 5% auto 2.5%;
	min-width: 630px;
	overflow: hidden;
}
.bxu-start-block-spacer-img {
	border: 2px dashed #bcd2e5;
	border-radius: 5px;
	display: block;
	/*margin: 5% auto 2.5%;*/
	width: 99%;
}

.bxu-start-block-spacer-div input {
	height: 100%;
	width: 200%;
	cursor: pointer !important;
	opacity: 0 !important;
	position: absolute !important;
	right: 0 !important;
	top: 0 !important;
	z-index: 120;
}

.bxu-top-block {
	background-color: #ecf1f3;
	background-image: -webkit-linear-gradient(top, #f9f9f9, #dee9ec);
	background-image:    -moz-linear-gradient(top, #f9f9f9, #dee9ec);
	background-image:     -ms-linear-gradient(top, #f9f9f9, #dee9ec);
	background-image:      -o-linear-gradient(top, #f9f9f9, #dee9ec);
	background-image:         linear-gradient(to bottom, #f9f9f9, #dee9ec);
	border: 1px solid;
	border-color: #f1f1f1 #b8c2c4 #a4a5a6;
	-webkit-box-shadow: inset 0 1px 0 #fff, inset 0 0 0 1px #e6eff1, 0 1px 0 #dfe1e1;
	box-shadow: inset 0 1px 0 #fff, inset 0 0 0 1px rgba(255,255,255,0.2), 0 1px 0 #dfe1e1;
	border-radius: 4px;
	height: 34px;
	margin: 0 -2px;
	overflow: hidden;
	padding:7px 21px 0 20px;
	position: relative;
	z-index: 2;
}

.bxu-top-block-inner {
	min-width: 820px;
	position: relative;
}

.bxu-settings-block {
	position: absolute;
	top: 1px;
	right: 0;
}

.bxu-thumbnails-loading .bxu-settings-block {
	display: none;
}

.bxu-settings-block-templates {
	display: inline-block;
	vertical-align: middle;
}

.bxu-templates-btn {
	display: inline-block;
	border: 1px solid;
	border-color: #dcdede #d2d8da #cbd3d6;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
	height: 23px;
	position: relative;
	vertical-align: top;
	width: 25px;
}

.bxu-templates-btn:first-child {
	border-radius: 3px 0 0 3px;
	border-right: none;
}

.bxu-templates-btn:last-child {
	border-left: none;
}

.bxu-templates-btn-active:first-child {
	border-right: 1px solid #bec5cb;
	border-radius: 2px 0 0 2px;
}

.bxu-templates-btn-active:last-child {
	border-left: 1px solid #bec5cb;
	border-radius: 0 2px 2px 0;
}

.bxu-templates-btn-small:before,
.bxu-templates-btn-big:before {
	background: url(/bitrix/components/bitrix/photogallery.upload/templates/.default/images/photogallery-sprite.png) no-repeat 100px 100px;
	content: '';
	height: 14px;
	position: absolute;
	left: 5px;
	top: 5px;
	width: 16px;
}

.bxu-templates-btn-small:before {
	background-position: center -44px;
}

.bxu-templates-btn-big:before {
	background-position: center 0;
}

.bxu-templates-btn-active {
	border-color: #acb1b8 #b4bbc1 #c9d2d5 #c9d2d5;
	background-color: #dde6e8;
	background-image: -webkit-linear-gradient(top, #dce3e6, #dee8ea);
	background-image:    -moz-linear-gradient(top, #dce3e6, #dee8ea);
	background-image:     -ms-linear-gradient(top, #dce3e6, #dee8ea);
	background-image:      -o-linear-gradient(top, #dce3e6, #dee8ea);
	background-image:         linear-gradient(to bottom, #dce3e6, #dee8ea);
	-webkit-box-shadow: inset 0 1px 1px #b4babf;
	box-shadow: inset 0 1px 1px #b4babf;
	cursor: auto;
	width: 24px;
}

.bxu-templates-btn-active:last-child:before {
	left: 4px;
}

.bxu-set-btn {
	background: url(/bitrix/components/bitrix/photogallery.upload/templates/.default/images/photogallery-sprite.png) no-repeat 10px -73px;
	border-left: 1px solid #c9d0d3;
	-webkit-box-shadow: inset 1px 0 0 #fafbfc;
	box-shadow: inset 1px 0 0 #fafbfc;
	display: inline-block;
	cursor: pointer;
	color: #41474f;
	font-size: 14px;
	line-height: 21px;
	margin-left: 5px;
	padding-left: 33px;
	text-shadow: 0 1px #fff;
	vertical-align: middle;
	height: 22px;
}

.bxu-set-btn:hover {
	text-decoration: underline;
}

.bxu-loading-block {
	display: none;
	vertical-align: middle;
}
.bxu-thumbnails-loading .bxu-loading-block {
	display: inline-block;
}
.bxu-thumbnails-loading .bxu-settings-block {
	display: none;
}

.bxu-loading-block-bar {
	background-color: #dee9ec;
	border: 1px solid;
	border-color: #c2cace #d1dadd #ccd8da;
	-webkit-box-shadow: 0 1px 0 #f7f9fa, inset 0 1px 0 #d6e1e4;
	box-shadow: 0 1px 0 #f7f9fa, inset 0 1px 0 #d6e1e4;
	border-radius: 4px;
	display: inline-block;
	height: 5px;
	margin:0 18px 0 20px;
	vertical-align: middle;
	position: relative;
	width: 110px;
}

.bxu-loading-block-bar-inner {
	background-color: #737d8a;
	background-image: -webkit-linear-gradient(top, #87929d, #6d7683);
	background-image:    -moz-linear-gradient(top, #87929d, #6d7683);
	background-image:     -ms-linear-gradient(top, #87929d, #6d7683);
	background-image:      -o-linear-gradient(top, #87929d, #6d7683);
	background-image:         linear-gradient(to bottom, #87929d, #6d7683);
	border: 1px solid;
	border-color: #9da5b1 #7e90a2 #58768f;
	border-radius: 4px;
	height: 5px;
	top: -1px;
	left: -1px;
	position: absolute;
}

.bxu-loading-block-text {
	color: #6f747a;
	display: inline-block;
	font-size: 13px;
	text-shadow: 0 1px #fafcfc;
	vertical-align: middle;
}

.bxu-loading-block-cancel-btn {
	color: #41474f;
	cursor: pointer;
	font-size: 14px;
	margin-left: 15px;
	text-shadow: 0 1px #f8fafb;
	text-decoration: underline;
}




.bxu-main-block {
	margin: -1px 2px 0;
	padding: 23px 0 7px;
}

.bxu-thumbnails-start .bx-main-block {
	padding: 0;
}
.bxu-items, .bxu-item {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.bxu-items {
	height: 650px;
	overflow-y: auto;
	padding:2px 0 4px 1%;
}

.bxu-thumbnails-start .bxu-items {
	display: none;
}

.bxu-item {
	display: inline-block;
	margin-bottom: 35px;
	max-width: 380px;
	min-width: 210px;
	vertical-align: top;
	width: 16.6%;
}

.bxu-item-block {
	background-color: #fff;
	border-radius: 3px;
	-webkit-box-shadow: 0 4px 0 1px rgba(1, 2, 2, .15);
	box-shadow: 0 1px 3px 0 rgba(1, 2, 2, .15);
	display: block;
	margin: 0 6%;
	position: relative;
}

.bx-ie8 .bxu-item-block {
	border: 1px solid #eaeced;
}

.bx-ie8 .bxu-item-block:hover {
	border: 1px solid #cfd0d1;
}



.bxu-item-block-top {
	background-color: #fff;
	display: block;
	position: relative;
}

.bxu-spacer {
	border: none;
	display: block;
	width: 100%;
}

.bxu-item-block-preview {
	top: 0;
	left: 0;
	height: 100%;
	text-align: center;
	position: absolute;
	width: 100%;
}
.bx-bxu-thumb-preview, .bx-bxu-canvas {
	display: inline-block;
	height: 100%;
	width: 100%;
}
.bx-bxu-canvas:before {
	display: inline-block;
	content: '';
	height: 100%;
	margin-left: -1px;
	vertical-align: middle;
	width: 1px;
}

.bxu-item-loading .bxu-item-block-preview {
	display: none;
}

.bxu-item-alinment {
	display: block;
	height: 100%;
	width: 100%;
}

.bxu-item-block-preview img, .bxu-item-block-preview canvas {
	border: none;
	display: inline-block;
	max-height: 93%;
	max-width: 93%;
	vertical-align: middle;
	height: auto !important;
	width: auto !important;
}

.bxu-item-block-bottom {
	background-color: #fff;
	border-top: 1px solid #f2f2f2;
	display: block;
	height: 36px;
	overflow: hidden;
}

.bx-ie8 .bxu-item-block-bottom {
	background: none;
}


.bxu-item-block-desc {
	display: block;
	padding-left: 10px;
	overflow: hidden;
}

.bxu-item-thumb-description-inp {
	background-color: #fff;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #000;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	display: block;
	height: 36px;
	margin: 0;
	padding: 0;
	width: 100%;
}

.bxu-item-block-setting {
	float: right;
	padding: 6px 3px 0 0;
}

.bxu-item-btn {
	background: url(/bitrix/components/bitrix/photogallery.upload/templates/.default/images/photogallery-sprite.png) no-repeat 100px 100px;
	cursor: pointer;
	display: inline-block;
	height: 24px;
	margin-left: 5px;
	opacity: 0.6;
	vertical-align: top;
	visibility: hidden;
	width: 24px;
}

.bxu-item-block:hover .bxu-item-btn {
	visibility: visible;
}

.bxu-item-btn:hover {
	opacity: 1;
}

.bxu-item-btn:first-child {
	margin-left: auto;
}

.bxu-item-btn-edit {
	background-position: center -102px;
}

.bxu-item-btn-turn {
	background-position: center -132px;
}
.bxu-item-btn-del {
	background-position: center -162px;
}

.bxu-item-load-bar {
	background-color: #eef5f7;
	border: 1px solid;
	border-color: #ced4d6 #e0e6e7 #dde4e6;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 #e5ebed;
	box-shadow: inset 0 1px 0 #e5ebed;
	display: none;
	height: 5px;
	margin-top: -4px;
	top: 50%;
	left: 10%;
	right: 10%;
	position: absolute;
}

.bxu-item-loading .bxu-item-load-bar {
	display: block;
}

.bxu-item-load-bar-inner {
	background-color: #737d8a;
	background-image: -webkit-linear-gradient(top, #87929d, #6d7683);
	background-image:    -moz-linear-gradient(top, #87929d, #6d7683);
	background-image:     -ms-linear-gradient(top, #87929d, #6d7683);
	background-image:      -o-linear-gradient(top, #87929d, #6d7683);
	background-image:         linear-gradient(to bottom, #87929d, #6d7683);
	border: 1px solid;
	border-color: #9da5b1 #7e91a2 #58768f;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 #afb6bd;
	box-shadow: inset 0 1px 0 #afb6bd;
	display: block;
	height: 5px;
	left: -1px;
	top: -1px;
	position: absolute;
}

.bxu-item-error-cont {
	display: block;
	left: 0;
	top: 20%;
	text-align: center;
	position: absolute;
	width: 100%;
}

.bxu-error-icon {
	background: url(/bitrix/components/bitrix/photogallery.upload/templates/.default/images/pg-error-img.png) no-repeat center -40px;
	display: inline-block;
	height: 36px;
	width: 39px;
}

.bxu-error-text {
	color: #4f5d67;
	display: block;
	font-size: 14px;
	margin-top: 10px;
}



.bxu-bottom-block {
	overflow: hidden;
	padding: 0 12px 0 28px;
}

.bxu-thumbnails-start .bxu-bottom-block {
	display: none;
}

.bxu-bottom-block-shadow-wrap {
	height: 6px;
	overflow: hidden;
	position: relative;
}

.bxu-bottom-block-shadow {
	background-image: -webkit-linear-gradient(top, rgba(109,109,109, 0.01) 5% , rgba(84,95,112,0.11) 40%);
	background-image:    -moz-linear-gradient(top, rgba(109,109,109, 0.01) 5% , rgba(84,95,112,0.11) 40%);
	background-image:     -ms-linear-gradient(top, rgba(109,109,109, 0.01) 5% , rgba(84,95,112,0.11) 40%);
	background-image:      -o-linear-gradient(top, rgba(109,109,109, 0.01) 5% , rgba(84,95,112,0.11) 40%);
	background-image:         linear-gradient(to bottom, rgba(109,109,109, 0.01) 6% , rgba(84,95,112,0.11) 50%);
	border-radius: 50%;
	height: 12px;
	opacity: 0.8;
	top: 0;
	left: 6px;
	right: 6px;
	position: absolute;
}

.bxu-bottom-block-btns {
	float: left;
	padding: 15px 10px 0 4px;
}

.bxu-bottom-block-text {
	color: #41474f;
	float: right;
	font-size: 14px;
	padding: 22px 7px 0 0;
}



.bxu-main-block-reduced-size .bxu-item {
	max-width: 192px;
	min-width: 144px;
	width: 20%;
}

.bxu-main-block-reduced-size .bxu-item-block {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.bxu-main-block-reduced-size .bxu-item-block-top {
	-webkit-box-shadow: 0 1px 3px 0 rgba(1, 2, 2, 0.15);
	box-shadow: 0 1px 3px 0 rgba(1, 2, 2, 0.15);
	z-index: 2;
}

.bxu-main-block-reduced-size .bxu-item:hover .bxu-item-block-top {
	-webkit-box-shadow: 0 1px 3px 1px #c3c7c9;
	box-shadow: 0 1px 3px 1px #c3c7c9;
}

.bxu-main-block-reduced-size .bxu-item-block-bottom {
	border: 1px solid #e5e7e7;
	border-top: none;
	bottom: 0;
	border-radius: 2px;
	height: 0;
	left: 1px;
	right: 1px;
	position: absolute;
	z-index: 0;

	-webkit-transition: bottom 0.15s linear;
	-moz-transition: bottom 0.15s linear;
	-ms-transition: bottom 0.15s linear;
	-o-transition: bottom 0.15s linear;
	transition: bottom 0.15s linear;
}

.bxu-main-block-reduced-size .bxu-item:hover .bxu-item-block-bottom {
	bottom: -28px;
	height: 28px;
}

.bxu-main-block-reduced-size .bxu-item-block-setting {
	padding-top: 4px;
}

.bxu-main-block-reduced-size .bxu-item-block-desc {
	display: none;
}

.bxu-main-block-reduced-size .bxu-item-btn {
	visibility: visible;
}

.bxu-main-block-reduced-size .bxu-error-icon {
	background-position: center 0;
	height: 27px;
}
.bxu-main-block-reduced-size .bxu-error-text {
	font-size: 11px;
	margin-top: 7px;
	font-weight: normal;
}


@media (max-width: 1200px) {
	.bxu-item {
		width: 33%;
	}
	.bxu-main-block-reduced-size .bxu-item {
		max-width: 100%;
		width: 20%;
	}

	.bxu-start-block-text {
	  font-size: 23px;
	}

	 .bxu-start-block-description {
	  font-size: 13px;
	}
}

@media (min-width: 1200px) and (max-width: 1400px)
{
	.bxu-items {
		padding-left: 0;
	}
	.bxu-item {
		width: 25%;
	}

	.bxu-main-block-reduced-size .bxu-item {
		max-width: 100%;
		width: 16.5%;
	}

	.bxu-start-block-text {
	  font-size: 27px;
	}

	 .bxu-start-block-description {
	  font-size: 15px;
	}
}

@media (min-width: 1400px) and (max-width: 1600px)
{
	.bxu-items {
		padding-left: 0;
	}
	.bxu-item {
		width: 20%;
	}

	.bxu-main-block-reduced-size .bxu-item {
		max-width: 100%;
		width: 14.28%;
	}

}

@media (min-width: 1600px) and (max-width: 20000px)
{
	.bxu-items {
		padding-left: 0;
	}
	.bxu-item {
		width: 16.6%;
	}

	.bxu-main-block-reduced-size .bxu-item {
		max-width: 100%;
		width: 12.5%;
	}
}

.bxu-thumbnails-simple .bxu-dnd {
	display : none;
}
.bxu-thumbnails .webform-button{
	overflow: hidden!important;
	position: relative!important;
}

/* Webforms buttons */

.bxu-thumbnails .webform-button {
	background: #ecedef;
	-webkit-box-shadow: 0 0 0 1px #c6cdd3 inset;
	box-shadow: 0 0 0 1px #c6cdd3 inset;
	border-radius: 2px;
	cursor: pointer;
	color: #7a818a;
	display: inline-block;
	height: 47px;
	line-height: 47px;
	margin: 0 16px 0 0;
	font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
	font-size: 12px;
	outline: none;
	padding: 0 18px;
	vertical-align: middle;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: none;
	white-space: nowrap;
	-webkit-font-smoothing: antialiased;

	-webkit-transition: background-color 0.25s linear;
	transition: background-color 0.25s linear;
}


.bxu-thumbnails .webform-button-text {

	background: none !important;
	border: none;
	display: inline;
	height: auto;
	font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 47px;
	font: normal normal bold 14px/47px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: none !important;
	text-transform: uppercase;
	padding:0 7px;

	-webkit-font-smoothing: antialiased;

	-webkit-transition: color 0.25s linear;
	transition: color 0.25s linear;
}

.bxu-thumbnails .webform-button-left,
.bxu-thumbnails .webform-button-right {
	display: none;
}

.bxu-thumbnails .webform-button:hover {
	color: #7a818a;
	font-size: 12px;
	font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
	line-height: 47px;
	text-shadow: none;
}

.bxu-thumbnails .webform-button:active {background: url(/bitrix/components/bitrix/photogallery.upload/templates/.default/images/interface/buttons-sprite.png) repeat-x 0 -662px;}

.bxu-thumbnails .webform-button-accept,
.bxu-thumbnails .webform-button-create {
	background: #bbed21;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #535c69;
}


.bxu-thumbnails .webform-button-accept:hover,
.bxu-thumbnails .webform-button-create:hover {
	background: #d2f95f;
	color: #535c69;
}

.bxu-thumbnails .webform-button-accept:active,
.webform-button-accept.webform-button-active,
.bxu-thumbnails .webform-button-create:active,
.webform-button-create.webform-button-active {
	background: #b2e233 !important;
	color: #535c69;
}


.bxu-thumbnails .webform-button-decline { background: url(/bitrix/components/bitrix/photogallery.upload/templates/.default/images/interface/buttons-sprite.png) repeat-x 0 -470px; }
.bxu-thumbnails .webform-button-decline .webform-button-text { background: none;  color: #fff; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1), -1px 1px 1px rgba(0, 0, 0, 0.1);}
.bxu-thumbnails .webform-button-decline:hover { background: url(/bitrix/components/bitrix/photogallery.upload/templates/.default/images/interface/buttons-sprite.png) repeat-x 0 -508px;  }
.bxu-thumbnails .webform-button-decline:hover .webform-button-text { background:  none; }
.bxu-thumbnails .webform-button-decline:active { background: url(/bitrix/components/bitrix/photogallery.upload/templates/.default/images/interface/buttons-sprite.png) repeat-x 0 -547px; }
.bxu-thumbnails .webform-button-decline:active .webform-button-text { background:  none; }

.bxu-thumbnails .webform-button-link {  font: normal normal normal 14px/normal "Helvetica Neue", Helvetica, Arial, sans-serif; }
.bxu-thumbnails .webform-button-link-cancel  { color: #d20000 !important; }

.bxu-thumbnails .webform-button-blue {
	background: #3bc8f5;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
}

.bxu-thumbnails .webform-button-blue:hover{
	background: #3fddff;
	color: #fff;
}

.bxu-thumbnails .webform-button-blue:active,
.bxu-thumbnails .webform-button-blue.webform-button-active {
	background: #13b1e3!important;
	color: #fff;
}

.bxu-thumbnails .webform-button-blue.webform-button-disable {
	background: #3bc8f5 !important;
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
	color: #95e3fa!important;
}

.bxu-top-block-inp {
	border: 1px solid;
	border-color: #b9bcbe #bdc1c3 #c1c5c8;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 2px 0 #DBDBDB inset;
	box-shadow: 0 1px 2px 0 #DBDBDB inset;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #41474f;
	height: 25px;
	margin-left: 10px;
	padding: 0 5px;
	vertical-align: middle;
	width: 180px;
}
.bxiu-notice-form p {color: #8a8d91!important;}

/* End */
/* /bitrix/components/bitrix/photogallery/templates/.default/themes/gray/style.css?15011619227261 */
/* /bitrix/components/bitrix/photogallery/templates/.default/style.css?150116192231650 */
/* /bitrix/components/bitrix/photogallery.upload/templates/.default/style.css?150116192229112 */
