

/* Start:/bitrix/components/bitrix/news.detail/templates/mytmpl/style.css?1502011021187*/
div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	display:block;
	float:none;
	margin-left:auto;
	margin-right:auto;
}
.news-date-time
{
	color:#486DAA;
}

/* End */
/* /bitrix/components/bitrix/news.detail/templates/mytmpl/style.css?1502011021187 */
